RewriteEngine On
RewriteBase /Vote4Music_Simple_Clean/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule lobby.js lobby.php%{QUERY_STRING} [L]
RewriteRule updateQueueList.js updateQueueList.php%{QUERY_STRING} [L]
